<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Dummy-Proxied-Webapp</display-name>
	<servlet>
		<description>
		</description>
		<display-name>DummyServlet</display-name>
		<servlet-name>DummyServlet</servlet-name>
		<servlet-class>com.gentics.dummy.DummyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DummyServlet</servlet-name>
		<url-pattern>/DummyServlet</url-pattern>
	</servlet-mapping>

	<!-- SSO listener -->

	<context-param>
		<param-name>casServerLoginUrl</param-name>
		<!-- <param-value>https://secure.gentics.com:443/cas-server/login</param-value> -->
		<param-value>https://mycas/cas-server/login</param-value>
	</context-param>
	<context-param>
		<param-name>casServerUrlPrefix</param-name>
		<!-- <param-value>https://secure.gentics.com:443/cas-server</param-value> -->
		<param-value>https://mycas/cas-server</param-value>
	</context-param>
	<context-param>
		<param-name>serverName</param-name>
		<param-value>https://mybackend</param-value>
	</context-param>

	<!-- 1. AuthenticationFilter -->
	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>gateway</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 2. Validation filter to validate cas tickets -->
	<filter>
		<filter-name>CAS Ticket Validation Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
		<init-param>
			<param-name>acceptAnyProxy</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CAS Ticket Validation Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- end SSO Filters -->

</web-app>